{% extends "base.html" %}

{% block content %}
	<h1>Edit Your Profile</h1>
	<form action="/edit" method="post" name="edit">
<!-- 		remember always put this XD -->
		{{ form.hidden_tag() }}
		<div>
			<label>
				Your Nickname:
				{{ form.nickname(size=24) }}
			 </label>
			 {% for error in form.errors.nickname %}
			 	<br>
			 	<span style="color : red;">[{{ error }}]</span>
			 {% endfor %}
		</div>
		<div>
			<div>
				<label>About Yourself:</label>
			</div>
				{{ form.about_me(cols=32, rows=4) }}
		</div>
		<div>
			 <input type="submit" name="" value="Save Changes">
		</div>
	</form>
{% endblock %}