{% extends "base.html" %}

{% block content %}
	<h1> Hello {{ g.user.nickname }} !</h1>
	<div>
	<form method="post" name="post">
		{{ form.hidden_tag() }}
		<div>
			<label>Say Something : </label>
		</div>
		<div>
			{{ form.post(size=30, maxlength=140) }}
		</div>
		<div>
			{% for error in form.post.errors %}
				<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<div>
			<input type="submit" name="" value="Post!">
		</div>
	</form>
	</div>
	{% for post in posts.items %}
		{% include 'post.html' %}
	{% endfor %}
	{% if posts.has_prev %}
		<a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt;Newer Posts</a>
	{% else %}
		&lt;&lt;Newer Posts 
	{% endif %}
	{% if posts.has_next %}
		<a href="{{ url_for('index', page=posts.next_num) }}">&lt;&lt;Older Posts</a>
	{% else %}
		&lt;&lt;Older Posts 
	{% endif %}
{% endblock %}
