{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6 center-inner-block">
			<h1 class="text-center">Sign Up</h1>
			<form action="" method="post" name="signup">
				{{ form.hidden_tag() }}
				<div class="form-group">
					<label>Username</label>
					{{ form.username(class_="form-control") }}
					{% for error in form.username.errors %}
						<span style="color:red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group">
					<label>Password</label>
					
					{{ form.password(class_="form-control") }}
					
					{% for error in form.password.errors %}
						<span style="color:red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					{{ form.confirm_password(class_="form-control") }}
					{% for error in form.confirm_password.errors %}
						<span style="color:red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<input type="submit" name="" value="Signup" class="btn btn-default center-block">
			</form>
		</div>
	</div>
{% endblock %}